@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-padding: 0;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  body[data-scroll-locked] {
    overscroll-behavior: contain;
    @apply !relative !mr-0 ml-0 mt-0 !overflow-hidden pl-0 pr-0 pt-0 sm:!mr-4;
  }

  html {
    touch-action: manipulation;
    @apply min-h-screen scroll-pt-20 bg-white dark:bg-zinc-900;
  }

  select {
    @apply !appearance-none;
  }

  .__app__ {
    @apply relative grid min-h-[100svh] w-full grid-rows-[auto_1fr_auto];
  }

  .card__item {
    @apply relative flex-grow basis-[100%] cursor-pointer overflow-hidden rounded-sm bg-zinc-100 shadow-lg transition-shadow duration-300 hover:shadow-none md:basis-[calc(50%-1rem)] lg:basis-[calc(33.333%-1rem)] xl:basis-[calc(25%-1rem)] dark:bg-neutral-950;
  }
}

@layer utilities {
  .gradient--lime {
    @apply bg-gradient-to-r from-purple-600 to-purple-900;
  }

  .gradient--indigo {
    @apply bg-gradient-to-r from-lime-600 to-lime-900;
  }

  .grid__wrapper > .card__item {
    @apply last:col-span-full;
  }

  .overflow-y-clip {
    overflow-y: clip;
  }
}

@layer components {
  /* Start - Toggle Theme Switch */
  .toogle__theme--slider {
    @apply absolute h-full w-full rounded-sm transition-all duration-300 ease-in-out before:absolute before:top-1 before:clear-both before:h-5 before:w-5 before:translate-x-[7px] before:rounded-full before:shadow-moonShadow before:transition-all before:duration-300 before:ease-in-out before:content-[''];
  }

  [aria-checked='true'] ~ .toogle__theme--slider {
    @apply before:translate-x-[37px] before:bg-white before:shadow-none;
  }
  /* END - Toggle Theme Switch */

  /* .navbar--mobile {
    @apply fixed bottom-0 left-0 top-0 z-[12] block w-full max-w-sm overflow-y-auto transition-transform duration-300 ease-in-out lg:top-20 lg:hidden;
  }

  .navbar--desktop {
    @apply bg-white py-6 lg:bg-transparent lg:py-0 landscape:py-12 lg:landscape:py-0 dark:bg-zinc-900 lg:dark:bg-transparent;
  } */

  .navbar--mobile {
    @apply !left-0 !top-0 !block h-full !translate-x-0 !translate-y-0 !rounded-none !border-0 !p-0 data-[state=closed]:!animate-out data-[state=closed]:!fade-out-0 data-[state=closed]:!zoom-out-100 data-[state=open]:!zoom-in-100 data-[state=open]:!slide-in-from-left-0;
  }
}
